#scene
  .scrollblock
    #cover
      #cover-bloc1
        h1 Happy Birthday,
      #cover-bloc2
        h1 Sylvia!
  .scrollblock
    #places
      #first-place.place
        #first-place-map
        #first-place-in
          p.p-text1 2008
          p.p-text2 Brasserie Restaurant @NYC
      #second-place
        #second-place-in
          p.p-text1 2011
          p.p-text2 Boka Restaurant + Bar @CHICAGO
      #places-middle
        &nbps;
      #third-place.place
        #third-place-in
          p.p-text1  2009
          p.p-text2 @SEOUL
      #fourth-place.place
        #fourth-place-in
          p.p-text1 2010
          p.p-text2 @JOUY-EN-JOSAS
  .scrollblock
    #moments
      #moments-cover &nbsp;
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/javascripts/jquery.scrollorama.js')
:coffeescript
  $('#first-place').mouseenter ->
    if $(window).scrollTop() > 4000 and $(window).scrollTop() < 5000
      $(this).animate {top: '+=15', left: '+=15'}, 300, () ->
        $(this).animate {top: '-=15', left: '-=15'}, 300
      return

  $('#third-place').mouseenter ->
    if $(window).scrollTop() > 4000 and $(window).scrollTop() < 5000
      $(this).animate {top: '-=15', left: '+=15'}, 300, () ->
        $(this).animate {top: '+=15', left: '-=15'}, 300
      return

  $('#fourth-place').mouseenter ->
    if $(window).scrollTop() > 4000 and $(window).scrollTop() < 5000
      $(this).animate {top: '-=15', left: '-=15'}, 300, () ->
        $(this).animate {top: '+=15', left: '+=15'}, 300
      return

      
  scrollorama = $.scrollorama blocks:'.scrollblock'
  scrollorama.animate '#cover-bloc1 h1',
    delay: 200,
    duration: 300,
    property:'left',
    start:0, end: -1000

  scrollorama.animate '#cover-bloc2 h1',
    delay: 0,
    duration: 600,
    property:'left',
    start:0,
    end: -1000,
    pin: true

  scrollorama.animate '#cover',
    delay: 700,
    duration: 100,
    property: 'z-index',
    end: 0
  
  scrollorama.animate '#first-place-map',
    delay: 1200,
    duration: 1000,
    property: 'opacity',
    start: 0,
    end: 0.6

  scrollorama.animate '#third-place',
    delay: 1600,
    duration: 1200,
    property: 'height',
    start: 0,
    end: 4000

  scrollorama.animate '#fourth-place',
    delay: 2200,
    duration: 1200,
    property: 'width',
    start: 0,
    end: 3000

  scrollorama.animate '#third-place-in',
    delay: 2000,
    duration: 500,
    property: 'opacity',
    start: 0,
    end: 1

  scrollorama.animate '#fourth-place-in',
    delay: 2500,
    duration: 500,
    property: 'opacity',
    start: 0,
    end: 1

  scrollorama.animate '#second-place-in',
    delay: 3000,
    duration: 500,
    property: 'opacity',
    start: 0,
    end: 1,
    pin: true

  scrollorama.animate '#second-place-in',
    delay: 3000,
    duration: 500,
    property: 'left',
    start: -300,
    end: 0

  scrollorama.animate '#places',
    property: 'rotate',
    duration: 700,
    start: 0,
    end: -21

  scrollorama.animate '#places',
    property: 'left',
    duration: 700
    start: 0,
    end: -2348

  scrollorama.animate '#places',
    property: 'top',
    duration: 700
    start: -1175,
    end: -2750

  scrollorama.animate '#moments-cover',
    delay: 1500,
    duration: 1000,
    property: 'height',
    start: 0,
    end: 1540
