@font-face
   font-family BrawlerRegular
   font-style normal
   font-weight normal
   src url('Brawler-webfont.eot')
   src url('Brawler-webfont.eot?#iefix') format('embedded-opentype'),
       url('Brawler-webfont.woff') format('woff'),
       url('Brawler-webfont.ttf') format('truetype'),
       url('Brawler-webfont.svg#BrawlerRegular') format('svg')

@font-face
  font-family QuicksandBook
  src url('Quicksand_Book-webfont.eot')
  src url('Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
      url('Quicksand_Book-webfont.woff') format('woff'),
      url('Quicksand_Book-webfont.ttf') format('truetype'),
      url('Quicksand_Book-webfont.svg#QuicksandBook') format('svg')
  font-weight normal
  font-style normal

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#scene
  height: 20000px

#cover
  height: 400px
  left: 50%
  margin-left: -480px
  margin-top: -150px
  position: fixed
  top: 50%
  width: 960px
  z-index: 180

#cover-bloc1
  display: block
  position: absolute
  left: 0

  h1
    font 86px 'BrawlerRegular', Arial, sans-serif
    letter-spacing 0
    position: relative
    left: 0

#cover-bloc2
  display: block
  position: absolute
  left: 0
  top: 100px

  h1
    font 86px 'BrawlerRegular', Arial, sans-serif
    position: relative
    left: 0

#places
  background-color: #FFD500
  height: 6050px
  position: fixed
  width: 6050px
  font 40px 'QuicksandBook', Arial, sans-serif

#first-place
  background-color: #FFF
  float: left
  height: 3000px
  width: 3000px
  margin-right: 30px
  position: relative
  z-index: 40

#first-place-map
  background-image: url('/images/nyc.png')
  bottom: 0
  position: absolute
  right: 0
  text-align: right
  width: 1500px
  height: 850px

#first-place-in
  bottom: 0
  margin: 0 20px 20px 0
  position: absolute
  right: 0
  text-align: right
  width: 300px
